data/ENS_MEM_1/wrfwof_d01_2019-05-20_22_00_00 filter=lfs diff=lfs merge=lfs -text
data/ENS_MEM_2/wrfwof_d01_2019-05-20_22_00_00 filter=lfs diff=lfs merge=lfs -text
data/ENS_MEM_3/wrfwof_d01_2019-05-20_22_00_00 filter=lfs diff=lfs merge=lfs -text
